/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.page-content {
  background-image: url("https://www.filterforge.com/upload/forum/upload/44d/Cuberism%20Qbert%20multicolor.jpg");
}

.navbar-inner {
   background-image: url("https://www.filterforge.com/upload/forum/upload/44d/Cuberism%20Qbert%20multicolor.jpg");
}
.panel {
 background-image: url("http://i66.tinypic.com/vgygy.jpg");
  color: orange;
}
.toolbar {
  background-image: url("https://www.filterforge.com/upload/forum/upload/44d/Cuberism%20Qbert%20multicolor.jpg");
  color: orange;
}
.backgroundpicker {
  width: 100%;
  color: orange;
  background-image: url("http://i66.tinypic.com/vgygy.jpg");
}
#innerpicker {
   background-image: url("http://i66.tinypic.com/vgygy.jpg");
}
#picker {
   background-image: url("http://i66.tinypic.com/vgygy.jpg");
}
.toolbarpicker {
  color: orange;
}


* {
  font-family: Serif;
}


.statusbar-overlay {
    background: #000000;
}
.row {
  margin-bottom: 15px;
}  

#cube1{
    box-shadow: 0 9px #999;
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

#cube1:hover{
   background-color: #3e8e41
}
#cube2{
   position: relative;
   box-shadow: 0 9px #999;
    width: 10px;
    height: 10px;
    background-color: blue;
}
#cube3{
    position: relative;
    box-shadow: 0 9px #999;
    width: 10px;
    height: 10px;
    background-color: yellow;
}
#cube4{
    position: relative;
   box-shadow: 0 9px #999;
    width: 10px;
    height: 10px;
    background-color: green;
}
#cube5{
    position: relative;
    box-shadow: 0 9px #999;
    width: 10px;
    height: 10px;
    background-color: white;
}
#cube6 {
    position: relative;
    box-shadow: 0 9px #999;
    width: 10px;
    height: 10px;
    background-color: orange;
}


div[class*="col"] {
  text-align: center;
  color: #000;

  padding: 1px;
  font-size: 22px;
  height:35px;
}

.flagsColors {
  position: absolute;
  bottom: 100px;
  left: 2vw;
  width: 35vw;
  height: 30vw;
  color: #000;
  padding: 4px;
  margin-bottom: 15px;
  font-size: 12px;
  padding-left: 5%;
}

#tutorialWelcome {
 shadow-color: red;
}
#tutorialQuote {
   color: red;
}
#tutorialInstruction {
   color: red;
}

.tutorial {
  background-image: url("http://i66.tinypic.com/vgygy.jpg");
  background-color: transparent;
   border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  position: absolute;
  align-content: center;   
  top: 70px;
  left: 25vw;
  right: 5vw;
  width: 150px;
  height: 250px;
  color: #000;
  padding: 4px;
  margin-bottom: 15px;
  font-size: 12px;
  padding-left: 5%;
}



.cube {
  background-color: transparent;
  position: absolute;
  align-content: center;   
  top: 350px;
  left: 25vw;
  right: 5vw;
  width: 35vw;
  height: 30vw;
  padding-left: 5%;
  transition-duration:3.5s;
}
#thecolors2 {
  position: absolute;
  top: 250px;
  left: 73vw;
  font-size: 17px;
}

#thecolors1{
  position: absolute;
  top: 250px;
  right: 73vw;
  font-size: 17px;
}
#cubeTitle{
  position: absolute;
  top: 370px;
  right: 73vw;
  font-size: 17px;
  
}
#flagname{
  position: absolute;
  background-color: grey;
  top: 375px;
  left: 65vw;
  text-align: center;
  outline: none;
  color: black;
  border-radius: 15px;
  box-shadow: 0 9px #334;
}

.RubikTheflag {
  background-image: url("http://i66.tinypic.com/vgygy.jpg");
  position: relative;
  left: 1vw;
  right: 1vw;
  bottom: 1vw;
  top: 1vw;
  width: 40px;
  height: 30px;
}



.flagsColors { 
  position: relative;
  align-content: center;    
  top: 5vw;
  right: 22vw;
  width: 40vw;
  background: #fff;
  text-align: center;
  color: #000;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.flagbutton {
   width: 50px;
   height: 50px;
   border-radius: 100%;
}

#checkflagbutton {
  background-image: url("http://i66.tinypic.com/vgygy.jpg");
  font-size: 30px;
  
}

.checkFlag {
  position: absolute;
  align-content: center;   
  top: 480px;
  left: 60vw;
  right: 5vw;
  text-align: center;
  border: 1px solid #ddd;
  padding: 4px;
  margin-bottom: 15px;
  font-size: 12px;
  padding-left: 5%;
  transition-duration:3.5s;
}

.burgernav {
  
}

.page-content {
 /* background-image: url("http://i64.tinypic.com/eg67f8.jpg");*/
   background-size: cover !important;
}






/* page2 */
.flagsColorspage2 {
  position: relative;
  align-content: center;    
  top: 10vw;
  left: 6vw;
  right: 50vw;
  width: 80vw;
  border-style: dotted;
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.flagbuttonpage2 {
   width: 60px;
   height: 55px;
   border-radius: 100%;
}

.flagdescription {
  position: relative;
  top: 25vw;
  left: 10vw;
  right: 20vw;
  border-style: dotted;
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 10px;
  padding-left: 5%;
   word-break:break-all;
}

.flagimg {
  height: 30px;
  width: 50px;
}

#ENG{
  background-color: transparent;
}

#closeButton {
  color: black;
}

#toolBarPicker {
  
}

#picker {
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}

#changeENG {
  background-color:transparent;
  
}

