/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.page-content {
    background-image: url("../img/rubicksbackground spash screen.png");
    background-size: cover;
    align-content: center; 
}

.navbar-inner {
   background: -webkit-linear-gradient(left, #1e5799 1%,#1e5799 1%,#1e5799 13%,#2989d8 62%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
}
.panel {
 background-image: url("../img/rubicksbackground resize 1.png");
  color: black;
}
.toolbar {
  background: -webkit-linear-gradient(left, #1e5799 1%,#1e5799 1%,#1e5799 13%,#2989d8 62%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
}
.backgroundpicker {
  width: 100%;
  background: linear-gradient(to right, #cccccc 20%,#eeeeee 39%,#cccccc 59%,#cccccc 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#innerpicker {
   background: linear-gradient(to right, #cccccc 20%,#eeeeee 39%,#cccccc 59%,#cccccc 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#picker {
    background: linear-gradient(to right, #cccccc 20%,#eeeeee 39%,#cccccc 59%,#cccccc 73%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.toolbarpicker {
}


* {
  font-family: Serif;
}


.statusbar-overlay {
    background: #000000;
}
.row {
  margin-bottom: 15px;
}  


#ENG {
    background-color: white;
    color: white;
}
#changeENG {
    color: white;
}

#closeButton {
    color: white;
    background-color: white;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  
}


.fallingCube {
   transition-duration:2.5s;
}
#fallingCube1{
   background-image: url("../img/cubeblue.png");
   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}

#fallingCube2{
   background-image: url("../img/cubegreen.png");
   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}
#fallingCube3{
   background-image: url("../img/cubeorange.png");
   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}
#fallingCube4{
   background-image: url("../img/cubered.png");
   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}
#fallingCube5{
   background-image: url("../img/cubewhite.png");
   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}
#fallingCube6{
   background-image: url("../img/cubeyellow.png");
   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}
.fallingCube1 {
   position: absolute;
   left: 5%;
   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}

.fallingCube2 {
    position: absolute;
    left: 20%;

   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}
.fallingCube3 {
   position: absolute;
   left: 35%;

   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}
.fallingCube4 {
    position: absolute;
    left: 55%;
 
   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}
.fallingCube5 {
    position: absolute;
    left: 75%;
 
   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}
.fallingCube6 {
    position: absolute;
    left: 90%;

   width: 40px;
   height: 40px;
   border-style: none;
   transition-duration:2.5s;
}



.fallingCubeblue {
   background-image: url("../img/cubeblue.png"); 
    width: 25px;
   height: 25px;
   transition-duration:2.5s;
    border-style: none;
    transform: rotate(160deg);
}

.fallingCubegreen {
     background-image: url("../img/cubegreen.png"); 
    width: 25px;
   height: 25px;
   transition-duration:2.5s;
    border-style: none;
    transform: rotate(160deg);
}
.fallingCubeorange {
   background-image: url("../img/cubeorange.png"); 
     width: 25px;
   height: 25px;
   transition-duration:2.5s;
    border-style: none;
    transform: rotate(160deg);
}
.fallingCubered {
    background-image: url("../img/cubered.png"); 
    width: 25px;
   height: 25px;
   transition-duration:2.5s;
    border-style: none;
    transform: rotate(160deg);
}
.fallingCubewhite {
    background-image: url("../img/cubewhite.png"); 
    width: 25px;
   height: 25px;
   transition-duration:2.5s;
    border-style: none;
    transform: rotate(160deg);
}
.fallingCubeyellow{
    background-image: url("../img/cubeyellow.png"); 
    width: 25px;
   height: 25px;
   transition-duration:2.5s;
    border-style: none;
    transform: rotate(160deg);
}
.thefall{
     transition-duration:8.5s;
}
.fallingcubes{
    position: relative;
    bottom: 235px;
    left: 20px;
}



#FunnyBackgroundrecover{
  position: absolute;
  background-image: url("../img/registerstar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
 background-color: transparent;
 background-attachment: inherit;
  top: 95px;
  left: 85vw;
  height: 30px;
  width: 60px;
  text-align: center;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 9px #334;
}
#FunnyBackgroundExplode{
  position: absolute;
  background-image: url("../img/the boom.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
 background-color: transparent;
 background-attachment: inherit;
  top: 95px;
  right: 80vw;
  height: 30px;
  width: 60px;
  text-align: center;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 9px #334;
}




div[class*="col"] {
  text-align: center;
  color: #000;

  padding: 1px;
  font-size: 22px;
  height:35px;
}

.flagsColors {
  position: absolute;
  bottom: 100px;
  left: 2vw;
  width: 35vw;
  height: 30vw;
  color: #000;
  padding: 4px;
  margin-bottom: 15px;
  font-size: 12px;
  padding-left: 5%;
}


#tutorialQuote {
   color: black;
   
}
#tutorialInstruction {
   color: black;
}

.tutorial {
  background: -webkit-linear-gradient(left, #1e5799 1%,#1e5799 1%,#1e5799 13%,#2989d8 62%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background-color: transparent;
  border: 1px solid;
  padding: 10px;
  box-shadow: 9px -1px;
  position: absolute;
  align-content: center;   
  text-align: center;
  top: 70px;
  left: 25vw;
  right: 5vw;
  width: 160px;
  height: 256px;
  color: dark blue;
  padding: 4px;
  margin-bottom: 15px;
  font-size: 12px;
  padding-left: 5%;
 -webkit-clip-path: polygon(51% 25%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 1%);
}



.cube {
  background-color: transparent;
  position: absolute;
  align-content: center;   
  top: 390px;
  left: 25vw;
  right: 5vw;
  width: 35vw;
  height: 30vw;
  padding-left: 5%;
  transition-duration:2.5s;
  
}
#thecolors2 {
  position: absolute;
  top: 250px;
  left: 73vw;
  font-size: 17px;
}

#thecolors1{
  position: absolute;
  top: 250px;
  right: 73vw;
  font-size: 17px;
}
#cubeTitle{
  position: absolute;
  top: 370px;
  right: 73vw;
  font-size: 17px;
  
}
#flagname{
  position: absolute;
  background-color: grey;
  top: 375px;
  left: 65vw;
  text-align: center;
  outline: none;
  color: black;
  border-radius: 15px;
  box-shadow: 0 9px #334;
}

@keyframes animate {
    from{
        background-position: 0 0 !important;
    }
    to {
        background-position: 100% 0 !important;
    }
}


.RubikTheflag {
  position: relative;
  left: 1vw;
  right: 1vw;
  bottom: 1vw;
  top: 1vw;
  width: 40px;
  height: 30px;
  background-size: cover !important;
  background-position: 0 0 !important;
  background-repeat: repeat-x !important;
  animation: animate 15s linear infinite !important;
}



.flagsColors { 
  position: relative;
  align-content: center;    
  top: 5vw;
  right: 22vw;
  width: 40vw;
  background: #fff;
  text-align: center;
  color: #000;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.flagbutton {
   width: 50px;
   height: 50px;
   border-radius: 100%;
}

#button1 {
    background-color: red;
    width:  40px !important;
    height: 40px !important;
}
#button2 {
    background-color: blue;
    width: 40px !important;
    height: 40px !important;
}
#button3 {
    background-color: orange;
    width: 40px !important;
    height: 40px !important;
}
#button4 {
    background-color: green;
    width: 40px !important;
    height: 40px !important;
}
#button5 {
    background-color: yellow;
    width: 40px !important;
    height: 40px !important;
}
#button6 {
    background-color: white;
    width: 40px !important;
    height: 40px !important;
}
#button7 {
    background-color: red;
    width: 40px !important;
    height: 40px !important;
}
#button8 {
    background-color: blue;
    width: 40px !important;
    height: 40px !important;
}
#button9 {
    background-color: orange;
    width: 40px !important;
    height: 40px !important;
}


#checkflagbutton {
  font-size: 12px;
  position: absolute;
  left: 75vw;
  height: 50px;
  width: 50px;
  background-color: transparent;
}
#checkflagText {
    position: absolute;
    bottom: 15px;
    right: 0.5vw;
}

.checkFlag {
  position: absolute;
  align-content: center;   
  top: 480px;
  left: 60vw;
  right: 5vw;
  text-align: center;
  border: 1px solid #ddd;
  padding: 4px;
  margin-bottom: 15px;
  font-size: 12px;
  padding-left: 5%;
  transition-duration:3.5s;
}

.burgernav {
  
}

.page-content {
 /* background-image: url("http://i64.tinypic.com/eg67f8.jpg");*/
   background-size: cover !important;
}






/* page2 */
.flagsColorspage2 {
  position: relative;
  align-content: center;    
  top: 10vw;
  left: 6vw;
  right: 50vw;
  width: 80vw;
  border-style: dotted;
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.flagbuttonpage2 {
   width: 60px;
   height: 55px;
   border-radius: 100%;
}

.flagdescription {
  position: relative;
  top: 25vw;
  left: 10vw;
  right: 20vw;
  border-style: dotted;
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 10px;
  padding-left: 5%;
  word-break:break-all;
}

.flagimg {
  height: 30px;
  width: 50px;
}

#ENG{
  background-color: transparent;
}

#closeButton {
  color: black;
}

#toolBarPicker {
  
}

#picker {
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}

#changeENG {
  background-color:transparent;
  
}

/* page 3 */
#SignIn {
    position: relative;
    left: 25vw;
    width: 50%;
}
#SignUp {
    position: relative;
     left: 25vw;
    width: 50%;
}

#registerstar {
    
}
